
@{
    ViewData["Title"] = "updateprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-4">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Escalate</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <form asp-controller="Account" asp-action="UploadImg" enctype="multipart/form-data" method="post">
                        <div class="auth-box card">
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center">
                                                Nyati Sacco QMS | UpdateImage
                                                <a asp-action="Index" asp-controller="Home" class="btn btn-danger btn-sm float-right">Back</a>
                                            </h3>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Get Image</label>
                                        <input type="file" name="ifile" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" data-confirm="Are You Sure you want to Update" class="btn btn-success btn-md btn-block waves-effect waves-light text-center m-b-20">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Page-body end -->
    </div>
</div>

