@model HubnyxQMS.Models.Ticket

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nyati sacco | QMS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <!-- Favicon icon -->
    <link rel="icon" href="~/libraries/assets/images/7.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/libraries/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/icon/feather/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/libraries/assets/css/jquery.mCustomScrollbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var dept = $("#departmentId")
            var servic = $("#servicee")
            var lat = $("#lattt")
            servic.prop('disabled', true);


            dept.change(function () {
                if ($(this).val() == "0") {
                    servic.prop('disabled', true);
                    servic.val("0");
                } else {
                    $.ajax({
                        url: "/Tickets/AllServices/" + $(this).val(),
                        method: "get",
                        success: function (data) {
                            servic.prop('disabled', false);
                            servic.empty();
                            servic.append($('<option/>', { value: '0', text: '---Select Service---' }));
                            $(data).each(function (index, item) {
                                servic.append($('<option/>', { value: item.Value, text: item.Text }));
                            });
                            lat.empty();
                            lat.append($('tetetet').html());
                        }

                    });
                }
            })
        })
    </script>
</head>

<body class="fix-menu" onload="getLocation()">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="my-div"></div>
                    <div id="my-lat"></div>
                    <div id="my-long"></div>
                    <form class="md-float-material form-material" asp-action="Create" method="post">
                        <input type="hidden" id="my-div" name="lll" />
                        <input type="hidden" id="lattt" name="mylatt" />
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Nyati Sacco | QMS</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <label for="exampleFormControlSelect1">Select Section</label>
                                    <select name="sectionid" id="departmentId" class="form-control" required>
                                        <option value="0">---Select Section---</option>
                                        @foreach (var sectionn in ViewBag.Section)
                                        {
                                            <option value="@sectionn.Id">@sectionn.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group form-primary">
                                    <label for="exampleFormControlSelect1">Select Service</label>
                                    <select id="servicee" name="servicenam" class="form-control" asp-items='@(new SelectList(string.Empty,"Id","LocationName"))'>
                                    </select>
                                </div>
                                <div class="form-group form-primary">
                                    <label for="exampleFormControlSelect1">Phone Number</label>
                                    <input name="phone" class="form-control" placeholder="Phone Number">
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-md btn-block waves-effect waves-light text-center m-b-20" value="Get Ticket" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left"><p><b class="f-w-600">#Customer Service is our attitude</b></p></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="~/libraries/assets/images/auth/7.png" alt="Nyati Sacco QMS">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Powered by: <a href="https://www.hubnyx.com" target="_blank">Hubnyx Ltd</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end of form tutaendelea kesho haha sasawa goodnight -->
                    @*<script>
                            $("#myform").on('submit', function (e) {
                                e.preventDefault();
                                var longitude = document.getElementById("my-long").value;
                                var latitude = document.getElementById("my-lat").value;
                                var model = {};
                                model.longitude = longitude;
                                model.latitude = latitude;
                                $.ajax({
                                    type: 'post',
                                    url: '/Tickets/CreateTicket',
                                    contentType: "json",
                                    dataType: "text",
                                    data: JSON.stringify(model),
                                    success: function (html) {
                                        alert("Success");
                                    }
                                    //endelea
                                });
                            });
                        </script>*@
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/libraries/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/libraries/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/libraries/bower_components/modernizr/js/modernizr.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="~/libraries/bower_components/chart.js/js/Chart.js"></script>
    <!-- amchart js -->
    <script src="~/libraries/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/libraries/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/libraries/assets/pages/widget/amchart/light.js"></script>
    <script src="~/libraries/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/libraries/assets/js/SmoothScroll.js"></script>
    <script src="~/libraries/assets/js/pcoded.min.js"></script>
    <!-- custom js -->
    <script src="~/libraries/assets/js/vartical-layout.min.js"></script>
    <script type="text/javascript" src="~/libraries/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/libraries/assets/js/script.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
